<h1><%= @restaurant.name %></h1>

<p>
  <strong>Address:</strong>
  <%= @restaurant.street_address %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @restaurant.zip_code %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
